# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [40]:
#import necessary libraries
import pandas as pd

from matplotlib import pyplot as plt

In [41]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
df=pd.read_csv(r"C:\Users\owner\Downloads\MathsnStats_Exercise1\MathsnStats_Exercise1\telecom_customer_churn.csv")
print(df.shape)
df.describe()
df.nlargest(n=5,columns=['senior_citizen','tenure','monthly_charges'])

(7043, 21)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
4155,6904-JLBGY,Female,1,No,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),117.35,8436.25,No
2689,8628-MFKAX,Female,1,Yes,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.75,8277.05,No
464,1480-BKXGA,Male,1,Yes,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),116.05,8404.9,No
526,8606-CIQUL,Male,1,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),115.75,8399.15,No
4229,5451-YHYPW,Female,1,Yes,No,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),115.75,8443.7,No

In [42]:
#display all the column names
df.describe()

       senior_citizen       tenure  monthly_charges
count     7043.000000  7043.000000      7043.000000
mean         0.162147    32.371149        64.761692
std          0.368612    24.559481        30.090047
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

In [43]:
# Check if the dataset contains nulls
df.isnull()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
#check the datatype of all columns

df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [45]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
# Selecting the desired columns and converting them to numeric with downcasting
# Replace non-numeric strings with NaN and convert to numeric
df[['monthly_charges', 'total_charges', 'tenure']] = df[['monthly_charges', 'total_charges', 'tenure']].apply(
    pd.to_numeric, errors='coerce', downcast='float'
)

# Check the result
print(df[['monthly_charges', 'total_charges', 'tenure']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   monthly_charges  7043 non-null   float32
 1   total_charges    7032 non-null   float32
 2   tenure           7043 non-null   float32
dtypes: float32(3)
memory usage: 82.7 KB
None

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [46]:
print(df.monthly_charges.mean())
print(df.monthly_charges.median())
print(df.monthly_charges.mode())

64.761696
70.3499984741211
0    20.049999
Name: monthly_charges, dtype: float32

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [47]:
percentiles =df['total_charges'].quantile([0.25, 0.5, 0.75])
print(f"25th Percentile: {percentiles[0.25]:.2f}")
print(f"50th Percentile: {percentiles[0.50]:.2f}")
print(f"75th Percentile: {percentiles[0.75]:.2f}")

25th Percentile: 401.45
50th Percentile: 1397.48
75th Percentile: 3794.74

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [9]:
df_min=df.monthly_charges.min()
df_max=df.monthly_charges.max()
range_df=df_max-df_min
print(range_df)

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [21]:
print(df[df['churn'] == "No"]['monthly_charges'].quantile(0.25))

25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [22]:
print(df[df['churn'] == "Yes"]['monthly_charges'].quantile(0.75))

94.2

Q6-  What is the mode of the payment method column for customers who have churned?

In [24]:
print(df[df['churn'] == "Yes"]['payment_method'].mode())

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [50]:
# Filter the rows based on the churn status and contract type
filtered_df = df.loc[(df['churn'] == 'Yes') & (df['contract'] == 'Month-to-month')]

# Calculate the mean of the total charges column
mean_total_charges = filtered_df['total_charges'].mean()

# Print the result
print('Mean of total charges column for customers who have churned and have a month-to-month contract:', mean_total_charges)

Mean of total charges column for customers who have churned and have a month-to-month contract: 1164.4606

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [51]:
# Filter the rows based on the churn status and contract type
filtered_df = df.loc[(df['churn'] == 'No') & (df['contract'] == 'Two year')]

# Calculate the median of the tenure column
median_tenure = filtered_df['tenure'].median()

# Print the result
print('Median of tenure column for customers who have not churned and have a two-year contract:', median_tenure)

Median of tenure column for customers who have not churned and have a two-year contract: 64.0